head
{
    background-color: black;
    font-family: monospace;
    color: whitesmoke;
}

.title
{
    text-align: center;
}

.title img
{
    width: 100%;
    height: auto;
    opacity: 0.6;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    margin-top: 1.6vw;
}

.title h1
{
    font-size: 30px;
    font-size: 3.9vw;
    letter-spacing: 0.2em;
    position: absolute;
    top: 4.1%;
    left: 19.0%;
}

body
{
    font-size: 20px;
    font-size: 1.2vw;
    background-color: black;
    font-family: monospace;
    color: whitesmoke;
}

#menu ul
{
    list-style: none;
    margin: 0px auto 0px auto;
    text-align: center;
    border-bottom: 2px solid #f5f5f5;
}

#menu li
{
    text-align: center;
    display:inline;
    font-size: 15px;
    font-size: 1.5vw;
    margin: 2.5vw;
}

#menu a
{
    text-decoration: none;
    color: whitesmoke;
}

#menu a:hover
{
    color: darkorchid;
}

#menu a:active
{
    color: darkorchid;
    background-color: whitesmoke;
    cursor: default;
}

.float-container
{
    display:flex;
    font-family: sans-serif;
}

.homeContent
{
    flex:1;
    padding-right: 100px;
    margin-top: 5vw;
}

.homeContent:first-child 
{
    margin-right: 20px;
}

.flower_left
{
    margin-left: 130px;
    float:left;
    width: 80%;
    height: auto;
    border: 2px solid #f5f5f5;
}

.art_img
{
    width: 80%;
    height: auto;
    border: 2px solid #f5f5f5;
    margin-top: 50px;
}

table
{
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.theader
{
    font-family: monospace;
    font-size: 15px;
    font-size: 1.9vw;
    letter-spacing: 0.2em;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
}

#picassoq
{
    margin-top: 90px;
    text-align: center;
}

.gallery img /* Used the book HTML5 by Matthew MacDonald */
{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}

.artpage img:hover /* Used the book HTML5 by Matthew MacDonald */
{
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
}

.self
{
    margin-left: 17vw;
    float:left;
    width: 40%;
    height: auto;
    border: 2px solid #f5f5f5;
}

#scrollbar
{
    width: 40vw;
    height: 24vw;
    overflow: scroll;
    overflow-x: hidden; /* Wanted to hide the horizontal scroll bar. Source: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
}

.pagehead
{
    width: 26.8vw;
    height: 2.2vw;
    align-content: center;
    text-align: center;
    letter-spacing: 0.3em;
    margin-left: 35.4vw;
    margin-right:40vw;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 80px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
}

#contactdiv
{
    width: 50vw;
    height: 30vw;
    margin-left: 24vw;
    font-family: sans-serif;
}

#align_right
{
    float: right;
    width: 15vw;
    height: auto;
}

.slide_container
{
    width: 27vw;
    height: 18vw;
    margin-top: 4vw;
    margin-left: 8.2vw;
    border: 2px solid #f5f5f5;
    overflow: hidden;
}

.next
{
    cursor: pointer;
    position: absolute;
    top: 32vw;
    margin-left: 38vw;
}

.previous
{
    cursor: pointer;
    position: absolute;
    top: 32vw;
    margin-left: 5vw;
}

.slide img
{
    width: 27vw;
    height: auto;
}